body {
	margin: 0 auto;
}

nav {
    margin: 12px 4% 0;
	display: flex;
}

nav > img {
    width: 115px;
    height: 25px;
    position: relative;
    left: 100px;
    top: 5px;
}
nav > a {
	padding: 10px 25px;
	font-size: 16px;
	font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: black;
	position: relative;
	left: 100px;
}

nav > a:hover{
	text-decoration: underline;
}
.sign {
	width: 500px;
	display: flex;
    position: relative;
    left: 724px;
    top: 10px;
}

.fa {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
}



.fa-angle-down:before {
    content: "\f107";
    position: relative;
    left: 98px;
    top: 6px;
}

.sign-in {
    font-size: 16px;
    position: relative;
    left: 24px;
    bottom: 17px;
}

.banner {
	height: 41px;
	position: relative;
	width: 1600px;
	left: 152px;
	top: 50px;
	right: 1752px;
	bottom: 91px;
	background-color: #333333;
	color: white;
	text-align: center;
	font-size: 15px;
	    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner p {
	position: relative;
	top: 9px;
}

.banner p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.special {
	width: 1600px;
	height: 597px;
	position: relative;
	left: 152px;
	top: 19px;
	right: 1751px;
	bottom: 688px;
	background-image: url(../img/banner_laptop.jpg);
}

.h2-heading  h2{
	width: 348px;
	height: 50px;
	font-size: 46px;
	display: flex;
	line-height: 56px;
	position: relative;
	top: 257px;
    left: 130px;
}
}

.p-desc {
	width: 492px;
	height: 44px;
	box-sizing: content-box;
}

.savings {
	font-size: 15px;
	font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
    top: 243px;
    left: 128px;
}

.others {
 display:inline-block;
   width:20%;
   box-sizing: border-box;
}

.offers {
	text-align: center;
	margin: 26px 2px 0 2px;
}

.lefth3 {
	font-size: 25px;
	text-align: left;
}

.info {
	font-size: 15px;
	text-align: left;
}

.shop {
	font-size: 13px;
	text-align: left;
	color: #0096DD;
}

.others span:hover {
	text-decoration: underline;
}

.one {
	position: relative;
	top: 18px;
}